{% extends "base.html" %}

{% block title %}{{app.acronym}} {{app.release|default:"[No#]"}} [ROSA]{% endblock %}

{% block leftnav %}
<li class="nav-header">Quick jump...</li>
<li><a href="#overview">Overview</a></li>
<li><a href="#vitals">Vitals</a></li>
<li><a href="#details">Details</a></li>
<li><a href="#personnel">Personnel</a></li>
<li><a href="#systems">Systems</a></li>
<li><a href="#interfaces">Interfaces</a></li>
<li><a href="#security">Security</a></li>
<li><a href="#certification">Certification</a></li>
<li><a href="#process">Process</a></li>
<li><a href="#tbd">TBD</a></li>
{% endblock %}

{% block content %}
<h1>Details: {{app.acronym}} {{app.release|default:"[No#]"}}</h1>

<div class="row-fluid well">
  <div class="span8">
    <h2 id="allreleases">All Releases</h2>
    {% for release in releases %}
    {% if release.release == app.release %}
    <span class="{{release.app_class}}"
       href="{% url app_details object_id=release.id %}">{{release.release|default:"[No#]"}}</span>
    {% else %}
    <a class="{{release.app_class}}"
       href="{% url app_details object_id=release.id %}">{{release.release|default:"[No#]"}}</a>
    {% endif %}
    {% endfor %}
  </div>
  <div class="span4">
    <h2 id="releasecolors">Release Colors</h2>
      <span class="{{bootstrap_label.Archived}}">Archived</span>
      <span class="{{bootstrap_label.Cancelled}}">Cancelled</span>
      <span class="{{bootstrap_label.Current_Version}}">Current Version</span>
      <span class="{{bootstrap_label.In_Development}}">In Development</span>
      <span class="{{bootstrap_label.In_Suspense}}">In Suspense</span>
      <span class="{{bootstrap_label.Unassigned}}">Unassigned</span>
  </div>
</div>


<div class="row-fluid well">
  <div class="span8">
    <h2 id=="overview">Overview</h2>
    <dl>
      <dt>Name                        </dt><dd>{{app.app_name                    }}</dd>
      <dt>Description                 </dt><dd>{{app.description                 }}</dd>
      <dt>Change Description          </dt><dd>{{app.release_change_description  }}</dd>
      <dt>Release Notes               </dt><dd>{{app.release_notes               }}</dd>
    </dl>
  </div>
  <div class="span4">
    <h2 id="vitals">Vitals</h2>
    <dl>
      <dt>Acronym                     </dt><dd>{{app.acronym                     }}</dd>
      <dt>Release                     </dt><dd><span class="{{app_class}}">{{app.release|default:"[No#]"     }}</span></dd>
    {#<dt>acronymrelease              </dt><dd>{{app.acronymrelease              }}</dd>#}
      <dt>App Status                  </dt><dd><span class="{{app_class}}">{{app.app_status.all|join:", "          }}</span></dd>
      <dt>Release Date                </dt><dd>{{app.release_date|date:"m/d/Y"   }}</dd>
      <dt>Release Status              </dt><dd>{{app.release_status              }}</dd>
    </dl>
  </div>
</div>

<div class="row-fluid well">
  <div class="span6">
    <h2 id="details">Details</h2>
    <dl>
      <dt>Comments                    </dt><dd>{{app.app_status_comments         }}</dd>
      <dt>Functional Type             </dt><dd>{{app.functional_type.all|join:", "             }}</dd>
      <dt>App Type                    </dt><dd>{{app.app_type.all|join:", "                    }}</dd>
      <dt>Software Category           </dt><dd>{{app.software_category.all|join:", "           }}</dd>
      <dt>Architecture Type           </dt><dd>{{app.architecture_type.all|join:", "           }}</dd>
      <dt>App Usage                   </dt><dd>{{app.app_usage.all|join:", "                   }}</dd>
      <dt>Number of Users             </dt><dd>{{app.app_users_num               }}</dd>
      <dt>Frequency                   </dt><dd>{{app.frequency                   }}</dd>
      <dt>Browser Support             </dt><dd>{{app.browser_support.all|join:", "             }}</dd>
      <dt>HTML Link                   </dt><dd><a href="{{app.html_link}}">{{app.html_link}}</a> </dd>
      <dt>Support Status              </dt><dd>{{app.support_status.all|join:", "              }}</dd>
      <dt>SW Language                 </dt><dd>{{app.sw_language.all|join:", "                 }}</dd>
      <dt>Triage Level                </dt><dd>{{app.triage_level                }}</dd>
    </dl>
  </div>
  <div class="span6">
    <h2 id="personnel">Personnel</h2>
    <dl>
      <dt>Owner                       </dt><dd>{{app.owner                       }}</dd>
      <dt>Owner Org                   </dt><dd>{{app.owner_org                   }}</dd>
      <dt>Owner Org Name              </dt><dd>{{app.owner_org_name              }}</dd>
      <dt>NASA Official Name          </dt><dd>{{app.nasa_off_name               }}</dd>
      <dt>NASA Requester              </dt><dd>{{app.nasa_requester              }}</dd>
      <dt>GOTS POC                    </dt><dd>{{app.gots_poc                    }}</dd>
      <dt>Manager App Development     </dt><dd>{{app.manager_app_development     }}</dd>
      <dt>Manager Project             </dt><dd>{{app.manager_project             }}</dd>
      <dt>Managed Records             </dt><dd>{{app.managed_records             }}</dd> <!-- ? -->
      <dt>Developer Primary           </dt><dd>{{app.dev_name_primary            }}</dd>
      <dt>Developer Alternate         </dt><dd>{{app.dev_name_alternate          }}</dd>
    </dl>
  </div>
</div>


<div class="row-fluid well">
  <div class="span6">
    <h2 id="systems">Systems</h2>
    <dl>
      <dt>Internal System             </dt><dd>{{app.internal_system             }}</dd>
      <dt>Location                    </dt><dd>{{app.location.all|join:", "                    }}</dd>
      <dt>DBMS Name                   </dt><dd>{{app.dbms_name.all|join:", "                   }}</dd>
      <dt>Network Services Used       </dt><dd>{{app.network_services_used.all|join:", "       }}</dd>
      <dt>Server App Name             </dt><dd>{{app.server_app_name             }}</dd>
      <dt>Server DB Name              </dt><dd>{{app.server_db_name.all|join:", "              }}</dd>
      <dt>Server Report Name          </dt><dd>{{app.server_report_name          }}</dd>
    </dl>
  </div>
  <div class="span6">
    <h2 id="interfaces">Interfaces</h2>
    <dl>
      <dt>Acronym Interface           </dt><dd>{{app.acronym_interface           }}</dd>
      <dt>Interface Direction         </dt><dd>{{app.acronym_inter_direction     }}</dd>
      <dt>Interface Method            </dt><dd>{{app.acronym_inter_method        }}</dd>
    </dl>
  </div>
</div>

<div class="row-fluid well">
  <div class="span6">
    <h2 id="security">Security</h2>
    <dl>
      <dt>ITCD Owner                  </dt><dd>{{app.security_itcd_owner         }}</dd>
      <dt>PII Indicator               </dt><dd>{{app.security_pii_indicator      }}</dd>
      <dt>PII Type                    </dt><dd>{{app.security_pii_type.all|join:", "           }}</dd>
      <dt>Sensitivity                 </dt><dd>{{app.security_sensitivity        }}</dd>
      <dt>Authentication_Type         </dt><dd>{{app.authentication_type.all|join:", "         }}</dd>
      <dt>BIA Category                </dt><dd>{{app.bia_category                }}</dd>
      <dt>FIPS Info Category          </dt><dd>{{app.fips_info_category          }}</dd>
      <dt>Firewall Factor             </dt><dd>{{app.firewall_factor             }}</dd>
      <dt>Privacy Act                 </dt><dd>{{app.privacy_act                 }}</dd>
      <dt>Sec Plan Number             </dt><dd>{{app.sec_plan_number             }}</dd>
      <dt>SSN System                  </dt><dd>{{app.ssn_system                  }}</dd>
    </dl>
  </div>
  <div class="span6">
    <h2 id="certification">Certification</h2>
    <dl>
      <dt>AWRS Checklist              </dt><dd>{{app.awrs_checklist              }}</dd>
      <dt>AWRS Indicator              </dt><dd>{{app.awrs_indicator              }}</dd>
      <dt>Fed Record Qualification    </dt><dd>{{app.fed_record_qualification    }}</dd>
      <dt>Fed Registy                 </dt><dd>{{app.fed_registy                 }}</dd>
      <dt>HITSS Supported             </dt><dd>{{app.hitss_supported             }}</dd>
      <dt>Section 2810 Compliant      </dt><dd>{{app.section2810compliant        }}</dd>
      <dt>Section 508 Compliant       </dt><dd>{{app.section508complaint         }}</dd>
    </dl>
  </div>
</div>

<div class="row-fluid well">
  <div class="span6">
    <h2 id="process">Process</h2>
    <dl>
      <dt>SR Class                    </dt><dd>{{app.sr_class.all|join:", "                    }}</dd>
      <dt>SR Number                   </dt><dd>{{app.sr_number                   }}</dd>
      <dt>SR Task Order               </dt><dd>{{app.sr_task_order               }}</dd>
      <dt>CM Resubmit Date            </dt><dd>{{app.cm_resubmit_date            }}</dd>
      <dt>CM Entered Time             </dt><dd>{{app.cm_entered_time             }}</dd>
      <dt>Re-entered Time             </dt><dd>{{app.re_entered_time             }}</dd>
    </dl>
  </div>
  <div class="span6">
    <h2 id="tbd">TBD</h2>
    <dl>
      <dt>NRRS Disposition            </dt><dd>{{app.nrrs_disposition            }}</dd>
      <dt>NRRS Schedule Item          </dt><dd>{{app.nrrs_schedule_item          }}</dd>
      <dt>PK Doc Number               </dt><dd>{{app.pk_doc_number               }}</dd>
      <dt>SORN                        </dt><dd>{{app.sorn                        }}</dd>
    </dl>
  </div>
</div>


{% endblock %}

