{% extends "base.html" %}

{% block title %}{{app.acronym}} {{app.release|default:"[No#]"}} [ROSA]{% endblock %}

{% block leftnav %}
<li class="nav-header">Quick jump...</li>
<li><a href="#comments">Comments</a></li>
<li><a href="#administrative">Administrative</a></li>
<li><a href="#compliance">Compliance</a></li>
<li><a href="#descriptive">Descriptive</a></li>
<li><a href="#technical">Technical</a></li>
{% endblock %}

{% block content %}
<h1>Details: {{app.acronym}} {{app.version_number|default:"[No#]"}}</h1>


<div class="row-fluid well">
  <div class="span12">
    <h2 id="comments">Comments</h2>
    <p>{{app.comments}}</p>
  </div>
</div>

{# I should really allow blanks into the DB so I don't have to use all the default_if_none:"" #}
{# Might be better to do a template tag to grab the attr, the _previous version, and render both #}

<div class="row-fluid well">
  <div class="span6">
    <h2 id=="description">Description</h2>
    <dl>
      <dt>Acronym                       </dt><dd>{{app.acronym                          }}</dd><dd class="previous">{{app.acronym_previous|default_if_none:""                    }}</dd>
      <dt>Description                   </dt><dd>{{app.description                      }}</dd><dd class="previous">{{app.description_previous|default_if_none:""                }}</dd>
      <dt>Name                          </dt><dd>{{app.name                             }}</dd><dd class="previous">{{app.name_previous|default_if_none:""                       }}</dd>
      <dt>Software Class                </dt><dd>{{app.software_class                   }}</dd><dd class="previous">{{app.software_class_previous|default_if_none:""             }}</dd>
      <dt>User Groups                   </dt><dd>{{app.user_groups                      }}</dd><dd class="previous">{{app.user_groups_previous|default_if_none:""                }}</dd>
      <dt>Version Change Description    </dt><dd>{{app.version_change_description       }}</dd><dd class="previous">{{app.version_change_description_previous|default_if_none:"" }}</dd>
      <dt>Version Number                </dt><dd>{{app.version_number                   }}</dd><dd class="previous">{{app.version_number_previous|default_if_none:""             }}</dd>
    </dl>
  </div>
  <div class="span6">
    <h2 id="technical">Technical</h2>
    <dl>
      <dt>Architecture Type             </dt><dd>{{app.architecture_type                }}</dd><dd class="previous">{{app.architecture_type_previous|default_if_none:""          }}</dd>
      <dt>DBMS Name and Version         </dt><dd>{{app.dbms_names_and_version           }}</dd><dd class="previous">{{app.dbms_names_and_version_previous|default_if_none:""     }}</dd>
      <dt>Interface Acronym             </dt><dd>{{app.interface_acronym                }}</dd><dd class="previous">{{app.interface_acronym_previous|default_if_none:""          }}</dd>
      <dt>Interface Direction           </dt><dd>{{app.interface_direction              }}</dd><dd class="previous">{{app.interface_direction_previous|default_if_none:""        }}</dd>
      <dt>Interface Method              </dt><dd>{{app.interface_method                 }}</dd><dd class="previous">{{app.interface_method_previous|default_if_none:""           }}</dd>
      <dt>Internal or External System   </dt><dd>{{app.internal_or_external_system      }}</dd><dd class="previous">{{app.internal_or_external_system_previous|default_if_none:""}}</dd>
      <dt>Network Services Used         </dt><dd>{{app.network_services_used.all        }}</dd><dd class="previous">{{app.network_services_used.all_previous|default_if_none:""  }}</dd>
      <dt>Servers - Application         </dt><dd>{{app.servers_application              }}</dd><dd class="previous">{{app.servers_application_previous|default_if_none:""        }}</dd>
      <dt>Servers - Database            </dt><dd>{{app.servers_database                 }}</dd><dd class="previous">{{app.servers_database_previous|default_if_none:""           }}</dd>
      <dt>Servers - Report              </dt><dd>{{app.servers_report                   }}</dd><dd class="previous">{{app.servers_report_previous|default_if_none:""             }}</dd>
      <dt>Servers Location              </dt><dd>{{app.servers_location                 }}</dd><dd class="previous">{{app.servers_location_previous|default_if_none:""           }}</dd>
      <dt>Software Names and Versions   </dt><dd>{{app.software_names_and_versions      }}</dd><dd class="previous">{{app.software_names_and_versions_previous|default_if_none:""}}</dd>
      <dt>URL Link                      </dt><dd><a href="{{app_url_link}}">{{app.url_link}}</a></dd><dd class="previous">{{app.url_link_previous|default_if_none:""             }}</dd>
      <dt>Version Status                </dt><dd>{{app.version_status                   }}</dd><dd class="previous">{{app.version_status_previous|default_if_none:""             }}</dd>
    </dl>
  </div>
</div>

<div class="row-fluid well">
  <div class="span6">
    <h2 id="administrative">Administrative</h2>
    <dl>
      <dt>Application Type              </dt><dd>{{app.application_type                 }}</dd><dd class="previous">{{app.application_type_previous|default_if_none:""           }}</dd>
      <dt>HITSS Supported               </dt><dd>{{app.hitss_supported                  }}</dd><dd class="previous">{{app.hitss_supported_previous|default_if_none:""            }}</dd>
      <dt>Number of Users               </dt><dd>{{app.number_of_users                  }}</dd><dd class="previous">{{app.number_of_users_previous|default_if_none:""            }}</dd>
      <dt>Project Manager Name          </dt><dd>{{app.project_manager_name             }}</dd><dd class="previous">{{app.project_manager_name_previous|default_if_none:""       }}</dd>
      <dt>Service Request Class(s)      </dt><dd>{{app.service_request_classs           }}</dd><dd class="previous">{{app.service_request_classs_previous|default_if_none:""     }}</dd>
      <dt>Service Request Numbers       </dt><dd>{{app.servie_request_numbers           }}</dd><dd class="previous">{{app.servie_request_numbers_previous|default_if_none:""     }}</dd>
      <dt>Support Class                 </dt><dd>{{app.support_class                    }}</dd><dd class="previous">{{app.support_class_previous|default_if_none:""              }}</dd>
    </dl>
  </div>
  <div class="span6">
    <h2 id="compliance">Compliance</h2>
    <dl>
      <dt>Compliance - 508              </dt><dd>{{app.compliance_508                   }}</dd><dd class="previous">{{app.compliance_508_previous|default_if_none:""             }}</dd>
      <dt>Data Impact Type              </dt><dd>{{app.data_impact_type                 }}</dd><dd class="previous">{{app.data_impact_type_previous|default_if_none:""           }}</dd>
      <dt>FIPS Information Category     </dt><dd>{{app.fips_information_category        }}</dd><dd class="previous">{{app.fips_information_category_previous|default_if_none:""  }}</dd>
      <dt>Security Plan Number          </dt><dd>{{app.security_plan_number             }}</dd><dd class="previous">{{app.security_plan_number_previous|default_if_none:""       }}</dd>
    </dl>
  </div>
</div>





{% endblock %}

