{% extends "base.html" %}

{% block extrascript %}
<script>
  $(document).ready(function()
    {
        $("#resultsTable").tablesorter();
    }
);
</script>
{% endblock %}


{% block content %}
<h1>Applications Overview</h1>

<p>Acronyms and basic features of all Applications are given here. Click on one for details.</p>

<table id="resultsTable" class="table tablesorter">

  <thead>
    <tr>
      <th>Acronym</th>
      <th>Version</th>
      <th>Architecture</th>
      <th>Users</th>
      <th>SR</th>
      <th>Project Manager</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    {% for app in apps %}
    <tr>
      <td><a href="{% url app_details id=app.id %}">{{app.acronym}}</a></td>
      <td><a href="{% url app_details id=app.id %}">{{app.version_number|default:"[No#]"}}</a></td>
      <td>{{app.architecture_type}}</td>
      <td>{{app.number_of_users}}</td>
      <td>{{app.service_request_numbers}}</td>
      <td>{{app.project_manager_name}}</td>
      <td>{{app.name}}</td>
      <td>{{app.description}}</td>
    </tr>
    {% endfor %}

  </tbody>

</table>

{% endblock %}
