{% extends "base.html" %}

{% block title %}About [ROSTRUM]{% endblock %}

{% block content %}

<h1>About ROSTRUM</h1>

<p>Data about current apps is extracted from ROSA and loaded into a
spreadsheet for cleanup and attribute wrangling. The spread makes
visualizing the data -- before and after -- difficult.  This
application provides views into that data including: Overview of all
applications, Details of a specific Applicaiton, and details of
attributes for all apps by category -- Administrative, Compliance,
Description, Technical.</p>

<p>The data maintained by ROSA, and hence ROSTRUM, is deemed sensitive
so the app must be located in contractor or government servers.<p>

<h1>What's New</h1>

<h2>2012-06-24</h2>
<ul>
  <li>Download CSV (UTF-8 encoded) for import back into spreadsheet: round-tripping now possible.</li>
  <li>Upload CSV from within web app itself.</li>
</ul>

<h2>2012-06-22</h2>
<ul>
  <li>Manage renamed to Edit and links directly to Apps Admin page insetad of top-level.</li>
  <li>Admin UI header allows clicking back to main app</li>
  <li>Search from any page, ignores empty queries</li>
  <li>Admin UI shows *_previous fields parallel to current values</li>
  <li>Admin Edit *_previous fields</li>
  <li>Distinguish previous fields from current by columns</li>
  <li>Sort Apps by project manager ajaxily so we can edit during and interview</li>
  <li>Link to Admin Edit App from Details page</li>
  <li>Return from Admin page to main App</li>
  <li>Uploading CSV exported from spreadsheet from within the app;
  currently this is done with a standalone 'importcsv.py' command.</li>
</ul>

<h2>2012-06-21</h2>
<ul>
  <li>All tables are now sortable by column headings</li>
  <li>Re-ordered technical attributes based on feedback</li>
  <li>Fixed missing value for Networked Services Used</li>
  <li>Allow editing of Application attributes grouped by category (in Django Admin UI)</li>
  <li>Add Project Manager to Applications overview</li>
  <li>Administrative details view</li>
  <li>Compliance details view</li>
  <li>Description details view</li>
  <li>Technical details view</li>
  <li>Menubar icons work</li>
</ul>

<h2>2012-06-20</h2>
<ul>
  <li>Applications overview (list) view working</li>
  <li>Application deatails view working</li>
</ul>

<h2>2012-06-19</h2>
<ul>
  <li>Request to visualize spreadsheet of current-only versions of apps from ROSA/STRAW</li>
  <li>Propose Spread to CSV export, import into app, visualize as desired</li>
  <li>Anti-feature: no editing, no export back to CSV -- CSV is canonical</li>
  <li>Stole much code (except import) from my ROSA implemenation from 2012-04-01</li>
</ul>

<h1>What's Suboptimal</h1>
<ul>
  <li>Can't "lock" the header row of tables and scroll data below.</li>
  <li>Details and Technical pages have "Interface *" columns that are
  too wide for apps which list these without spaces: the HTML engine
  can't split the text into multiple lines to fit a cell.</li>
  <li>After downloading, you're simply left where you invoked the
  download -- there's no confirmation page or redirect.</li>
</ul>

{% endblock %}
