{% extends "base.html" %}

{% block title %}About [ROSTRUM]{% endblock %}

{% block content %}

<h1>About ROSTRUM</h1>

<p>The Repository of Supported Applications is a web application for
browsing and querying information about NASA HQ applications,
including application description, support team, security compliance,
architecture and interface(s) for current applications, applications
in development and archived applications. Key reports such as the
Applications Pipeline and Release Planner are available to all
authorized users as well as a sampling of graphic reports currently
provided in the Application Monthly Review (AMR).</p>

<h1>What's New</h1>

<h2>2012-06-20</h2>
<ul>
  <li>Applications overview (list) view working</li>
</ul>

<h2>2012-06-19</h2>
<ul>
  <li>Request to visualize spreadsheet of current-only versions of apps from ROSA/STRAW</li>
  <li>Propose Spread to CSV export, import into app, visualize as desired</li>
  <li>Anti-feature: no editing, no export back to CSV -- CSV is canonical</li>
  <li>Stole much code (except import) from my ROSA implemenation from 2012-04-01</li>
</ul>
{% endblock %}
