{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
<div class="hero-unit">
  <h1><img src="{{STATIC_URL}}img/rostrum.png"/>ROSTRUM</h1>
  <p>ROSTRUM visualizes data about applications from ROSA and STRAW
  which have been gardened in a spreadsheet; only current versions are
  maintained, history is not retained. The spreadsheet is exported as
  CSV then this application can be used to show all applicaitons as an
  overview, drill down to the categorized detail of an app, or view
  categorized attributes based on category of all apps.</p>
  <p><a class="btn btn-large" a href="{% url about %}">Learn more &raquo;</a></p>
</div>


<h2>How to Use It</h2>

<!-- <p>You can use the search box in the upper left of each page to search for applications by acronym, name, and description (more attributes later).</p> -->

<p>Use the menu-bar <a href="{% url app_overview %}"><i class="icon-th-list">
    </i>Applications</a> button to browse all
  the applicaitons by acronym, then drill down to a specific one to see
  all the details for it.</p>

<p>The
  <a href="{# url app_administrative %}"><i class="icon-list"></i> Administrative </a>,
  <a href="{# url app_compliance %}"><i class="icon-list"></i> Compliance </a>,
  <a href="{# url app_description %}"><i class="icon-list"></i> Description </a>, and
  <a href="{# url app_technical %}"><i class="icon-list"></i> Technical  </a>
views allow you to see details of all apps relevant to these feature categories.

{% endblock %}

